# latex stuff
*/*.fls
*/*.fdb_latexmk
*/*.aux
*/*.zip
*/*.fdb_latexmk
*/*.out
*/*.gz
*/*.log
*/*.pytxcode



# latex stuff
*/*/*.fls
*/*/*.fdb_latexmk
*/*/*.aux
*/*/*.zip
*/*/*.fdb_latexmk
*/*/*.out
*/*/*.gz
*/*/*.log
*/*/*.pytxcode

# compilied python
__pycache__/
*.pyc

# don't add new calculated trajectory
data/calculated_trajectory.csv
